body {
  margin: 0;
  padding: 0;
}

header img {
  margin: 20px 10% 10px 10%;
}

nav {
  width: 100%;
}

.mainNav {
  background-color: #21537C;
  color: white;
  font: bold 16px/16px Arial;
}

.subNav {
  color:#005480;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 10%;
  font: 16px/16px Arial;
}

li {
    margin: 5px 10px;
}

a {
  text-decoration: none;
  color: white;
}

main {
  background-color: white;
  margin-bottom: 0;
  margin: 0 10%;
  padding: 20px 30px 30px 30px;
}

h1 {
  color: #003d5d;
  font: bold 25px/25px Open, Sans;
  margin: 0 0 10px 0;
}

main img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.eventForm {
  border-style: solid;
   border-width: 1px;
}

hr {
  width: 95%;
}

footer {
    background-color: #21537C;
    margin-top: 0;
    min-height: 100px;
}
