body, html{
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

header img {
  margin: 20px 15% 10px;
}

nav {
  width: 100%;
}

.mainNav {
  background-color: #21537C;
  color: white;
  font: bold 16px/16px Arial;
}

.subNav {
  color:#005480;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 15%;
  font: 16px/16px Arial;
}

li {
    margin: 5px 10px;
}

.mainNav a {
  text-decoration: none;
  color: white;
}

main {
  background-color: white;
  margin-bottom: 0;
  margin: 0 15%;
  padding: 20px 30px 30px 30px;
}

h1 {
  color: #003d5d;
  font: bold 25px/25px Open, Sans;
  margin: 0 0 10px 0;
}

h2 {
  margin: 0;
  font: bold 18px/18px arial;
}

h3 {
  font: bold 15px/15px Arial;
  margin-bottom: 0;
}

p{
  font: 15px/15px arial;
  margin: 0;
}

main img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.event{
  display: flex;

}

.eventForm {
  border: 1px solid lightgray;
  margin-top: 20px;
  margin: 20px 0 0;
  padding: 20px;
}

input {
  margin: 5px;
  height: 18px;
}

form span {
  margin-left: 50px;
  font: bold 15px/15px Arial;
  color: #14c7f5;
}

hr {
  width: 95%;
  color: lightgray;
}

.inputField {
  width: 90%;
}

.button {
  background-color: orange;
  font: bold 16px/16px arial;
  color: white;
  padding: 5px;
  border-radius: 5px;
  height: 25px;
}

.eventDetails {
  padding: 20px 5% 20px 6%;
}

footer {
    background-color: #21537C;
    margin-top: 0;
    min-height: 100px;
}

@media only screen and (max-width: 550px) {
  header img {
    margin: 5px auto 10px 10px;
    height: 30px;
  }

  ul {
    padding: 0;
    margin-left: 10px
  }

  .subNav {
    display: none;
  }

  main {
    margin: 0px;
    padding: 0px;
  }
  h1 {
    font: bold 18px/18px Open, Sans;
    margin: 10px;
  }
}
