body {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
}

.mainNav{
  background-color: #21537C;
  color: white;
}

.subNav{
  color:#005480;
}

ul {
  display: flex;
  list-style: none;
}

li {
    margin: 5px 10px;
}

a {
  text-decoration: none;
  color: white;
}

main {
  background-color: white;
  margin-bottom: 0;
}

.eventForm {
  border-style: solid;
   border-width: 1px;
}

hr {
  width: 95%;
}

footer {
    background-color: #21537C;
    margin-top: 0;
    min-height: 100px;
}
